.input {
  background: #ffffff;
  width: 400px;
  padding-left: 20px;
  outline: none;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  height: 40px;
}
.inputdiv {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .input {
    max-width: 300px;
  }
}
