.restaurant {
  width: 100%;
  height: 180px;
  background: #e0e0e0;
  border-radius: 6px;
}

.rescont {
  height: 250px;
  margin-bottom: 40px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #333333;
}

.containr {
  padding-bottom: 150px;
}
.name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding-top: 10px;
  color: #333333;
}

.desc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #828282;
}
/* .float {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
} */

.bookdiv {
  margin-top: 10px;
}
.bookbutton {
  border: 1px solid #ff0000;
  width: 69px;
  height: 35px;
  background: #ff0000;
  font-size: 14px;
  color: #ffffff;
  border-radius: 6px;
}
@media only screen and (max-width: 900px) {
  .name {
    font-size: 11px;
  }
  .desc {
    font-size: 10px;
  }
  .title {
    font-size: 13px;
  }
  .bookbutton {
      font-size: 10px;
  }
  .rescont {
    margin-bottom: 30px;
  }
  .restaurant {
    width: 100%;
    padding-top: 20px;
  }
}
